@charset "UTF-8";

*{
    margin: 0px;
    padding: 0%;
}    

:root{

}    

section#header{
    background-color: black;
    color: white;
    height: 250px;
    font-family: 'Passion One', cursive;
    font-size: 1.3em;
}
